apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: yara-image
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: yara-image
    app.kubernetes.io/part-of: yara-image
  name: yara-image
spec:
  replicas: 0
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app.kubernetes.io/instance: yara-image
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: yara-image
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/brianwcook-tenant/yara-image/yara-image@sha256:6ba9a9e706489fb8dadacdc970fc042791eed236e906f0f7f4183f80953549ef
        imagePullPolicy: Always
        name: container-image
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: 10m
            memory: 256Mi
status: {}
